<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Suite" parallel="false" preserve-order="true">
    <test name="Services Tests">
        <packages>
            <package name="servicesTests.*"/>
            <package name="featureTests.*"/>
        </packages>
    </test>
</suite>