<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Suite" parallel="false" preserve-order="true">
    <test name="Services Tests">
        <packages>
            <package name="com.kaltura.client.test.tests.servicesTests.*"/>
            <package name="com.kaltura.client.test.tests.servicesTests.*"/>
        </packages>
    </test>
</suite>