<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite of suites" parallel="methods">
    <suite-files>
        <suite-file path="testng_regular.xml"></suite-file>
        <suite-file path="testng_opc.xml"></suite-file>
    </suite-files>
</suite>